* {
  box-sizing: border-box;
}
nav {
  display: block;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
}

@media (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.search {
  display: flex;
  margin: auto;
  min-width: 400px;
  margin-bottom: 30px;
  height: 40px;
  border: 0ch;
  background-color: black;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 12px;
  text-align: center;
  width: 250px;
  margin: 10px;
}
.cardImg {
  display: flex;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 12px;
  margin-top: 5px;
}
.delete {
  align-self: flex-start;
  background: white;
  cursor: pointer;
  padding-right: 15px;
  height: 20px;
  width: 60px;
  border-radius: 20px;
  margin: 2px 2px 0px 0px;
  color: black;
}

.delete:hover {
  background: red;
  color: grey;
}
